@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

a:hover {
  text-decoration: none;
}

/**NAVIGATION**/
nav {
  border-bottom: 0.2rem solid #ED1B24;
  background-color: #ffffff;
  height: 5rem;
}

nav .logo {
  height: inherit;
}

nav .logo img {
  max-height: 100%;
}

nav .nav-link {
  color: #2D3192;
  font-weight: bold;
  text-transform: uppercase;
}

nav .nav-item {
  margin: 0.5rem;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  border-bottom: 0.2rem solid transparent;
}

nav .nav-item:hover {
  border-bottom: 0.2rem solid #2D3192;
}

.fa-bars {
  color:#ED1B24;
  font-size: 1.5rem;
}

/**CUSTOM BUTTONS **/
.btn {
  transition-property: font-size;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.btn:hover {
  font-size: larger;
}

.btn-blue {
  background-color: #2D3192;
  color: #ffffff;
}

.btn-blue:hover {
  background-color: #2D3192;
  color: #ffffff;
}

/**HEADER**/
header {
  padding-top: 60px;
}

header img {
  width: 50%;
}

/**CONTENT**/
section {
  padding: 0.5rem;
}

section h2 {
  font-weight: bold;
  color: #2D3192;
}

section a {
  color: #ED1B24;
}

section .soc-med-icons i{
  font-size: 4rem;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  padding: 0.3rem;
  color: #000000;
  text-decoration: none;
}

section .soc-med-icons i:hover {
  color: #2D3192;
}

#intro ul{
  list-style-type: none;
}

/**EVENTS CARDS**/

#events .card {
  width: 15rem;
  margin: 0.25rem;
}

#events-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}


.card-deck .card {
  flex: unset;
  margin-bottom: 0.5rem !important;
}

.card-title {
  font-weight: 700;
  color: #ED1B24;
}

/**RESOURCES**/
.resources .card-deck {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.resources .card {
  margin-right: 0.5rem;
  width: 20rem;
}

.cs-resources {
  margin-top: 2em;
}

.cs-resource-list {
  text-align: left;

  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

/**SPONSORS **/
.sponsors-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sponsors-list .sponsor-ind {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin: 0.5rem;
}

.sponsor-ind img {
  width: 100%;
}

/** MEDIA QUERIES**/
@media only screen and (max-width: 700px) {
  nav .container {
    text-align: center;
  }

  #navbarSupportedContent {
    background-color: #ffffff;
    text-align: center;
  }

  header {
    padding-top: 100px;
  }

  .cs-resource-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}
